form(action="//ESTAINE.us7.list-manage.com/subscribe/post?u=97c861ca0b5e4b52ff3f251d8&amp;id=4b2a898f18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="m-form" target="_blank" novalidate)
  input.m-input(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="Email address")
  button.btn(type="submit") Submit
