// Colors
$white:      #fffcff;
$dark-grey:  #403f40;
$grey:       #807e7f;
$light-grey: #bfbdbf;
$fuschia:    #c3009E;
$black:      #1a1919;
$red:        #c20000;
$green:      #00c261;
$blue:       #0081c2;
