extends ../layout

block content
  .l-constrained
    .s-callout
      .callout-logo
        img(src=assets.url('/images/logo.svg'))
      h1 Science. Medicine. Fashion.
      h4 Launching Soon
      h3 Sign Up for Exclusive Updates
      .callout-signup-form
        include ../shared/_signup_form.jade

      .callout-contact
        h2 Connect with Us
        ul.callout-contact-icons
          li: a(href="mailto:info@estaine.com"): +icon("000")
          li: a(href="https://twitter.com/estaineinc", target="_blank"): +icon("001")
          li: a(href="https://www.facebook.com/Estaine", target="_blank"): +icon("002")
